<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
	 <title>Lecture 09 - Service, Factory & Provider Demo</title>
	 <meta charset="utf-8" />
	 <meta name="viewport" content="width=device-width,
													 initial-scale=1.0" />
	 <!-- Bootstrap -->
	 <link href="css/bootstrap.min.css" rel="stylesheet" />
	 <!-- HTML5 Shim and Respond.js IE8 support of HTML5
													 elements and media queries -->
	 <!-- WARNING: Respond.js doesn't work if you view the
													 page via file:// -->
	 <!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
	 <![endif]-->
</head>
<body>
	<div class="container">
        <h1>Lecture 09 - Service, Factory & Provider Demo</h1>
        <h3>Example of Service for Multiple Controllers</h3>
        <div data-ng-controller="myctrl1" class="col-md-4">
            <h4>Table Format</h4>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th></th>
                </tr>
				<!-- 1 -->
                <tr data-ng-repeat = "std in students">
                    <td>{{std.name}}</td>
                    <td>{{std.age}}</td>
                    <td>
					<!-- 2 -->
							<button class="btn btn-xs btn-danger" data-ng-click="remove($index)">Del</button>
					</td>
                </tr>
            </table>
        </div>
			<!-- 3 myctrl2 which just used to add 1 extra student to the object StudentData -->
        <div data-ng-controller="myctrl2" class="col-md-4">
            <h4>Listing Format (Sort by Age)</h4>
            <ol>
			<!-- and print the student data in order here, not using the myctrl2 but just print the scope studentdata -->
                <li data-ng-repeat = "std in students | orderBy:'age'">{{std.name}} ({{std.age}})</li>
            </ol>
        </div>
        
        <div data-ng-controller="myctrl3" class="col-md-4">
            <h4>Entry Form</h4>
            <form data-role="form" class="form">
                <div class="form-group">
                    <input type="text" class="form-control" data-ng-model="stdName" placeholder="Name"/>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" data-ng-model="stdAge" placeholder="Age"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" data-ng-click="add()">Add</button>
                </div>
            </form>
        </div>
    </div>

    
    

	<!-- jQuery – required for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.min.js"></script>
	<!-- All Bootstrap  plug-ins  file -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Basic AngularJS -->
	<script src="js/angular.min.js"></script>
	<!-- Custom App -->
	<script src="js/servicessApp.js"></script>
	
	<script>
	
	</script>
</body>
</html>