/* Overall */
body {
  line-height:1.3;
  font-size:120%;
}
.nomenus {
  max-width:850px;
  margin:0 auto;
}
.nomenus p {
  padding:0 5px;
}

/* Menus */
.mainmenu {
  display:inline-block;
}
.home, .search {
  display:inline-block;
  color:#4646AC;
  margin-top:5px;
  padding:4px 0;
}
.home a, .search a {
  margin:5px 0;
  padding:5px 0;
}
.home:hover, .home:focus,
.home a:hover, .home a:focus
{
  color:white;
  background-color:#666699;
  text-decoration:none;
}
.dh, .dh2, .dhs {
  margin:0 5px;
  vertical-align:text-top;
  color:white;
  background-color:#666699;
  padding:5px 5px 30px;
}
.dt {
  margin:0 5px;
  vertical-align:text-top;
}
.dropdown-content {
  position:absolute;
  background-color:#666699;
  box-shadow:8px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:10;
  border:2px solid #666699;
  overflow:hidden;
  top:auto;
  left:-10000px;
  max-height:0;
  transition:max-height 500ms;
}
.dropdown:hover .dh, .dropdown:focus .dh, .dropdown:hover .dt, .dropdown:focus .dt,
.home:hover .dt, .home:focus .dt, .search:hover .dhs, .search:focus .dhs
{
  color:white;
}
.search:hover .d2t, .search a:focus .d2t {
  display:none;
}
.search:hover .d2w, .search a:focus .d2w {
  display:inline;
}
.dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content {
  left:auto;
  max-height:250px;
}
.dropdown-content a {
  display:block;
  text-align:left;
  padding:4px;
  font-weight:normal;
  font-size:90%;
}
.dropdown-content a:link { text-decoration:none; color:white }
.dropdown-content a:visited { text-decoration:none; color:white }
.dropdown-content a:hover, .dropdown-content a:focus { color:#4646AC; background-color:#dfdfff; }
.dropdown img, .search img {
  border:none;
  margin:0 6px;
}
div.topnavbar li ul {
  padding:0;
}
div.topnavbar li ul li {
  padding:0;
}

/* Side menu */
#toggleOpen {
  float:left;
  margin-top:5px;
  padding-top:3px;
}
.dtg {
  padding:4px 5px 3px 4px;
}
#toggleOpen:hover .dtg {
  background-color:#666699;
  color:white;
  text-decoration:none;
}
#toggleOpen a:hover {
  text-decoration:none;
}
#toggleOpen:focus, #toggleOpen a:focus {
  background-color:#666699;
  color:white;
  padding:4px 0 3px;
  text-decoration:none;
}
#toggleClose {
  float:right;
  color:white !important;
}
.sidemenuitem a {
  color:white;
  display:block;
  text-align:left;
  padding:4px;
  font-weight:normal;
  font-size:90%;
}

/* Home page */
.homeblock {
  border-bottom:2px solid #666699;
}
.h2home {
  color:black;
  background-color:white;
  padding-left:0;
  font-weight:normal;
  font-size:208%;
  margin:33px 5px;
  text-align:center;
}
.feature {
  background-color:white;
  font-size:166%;
  font-weight:normal;
  padding:0 5px;
}
.homeflex1 {
  display:flex;
  align-items:center;
}
.margin1, .margin2 {
  margin-bottom:1.5em;
}
.margin3 {
  margin-bottom:3em;
}
.flex50a {
  flex:50%;
}
.flex50b {
  flex:50%;
  text-align:center;
}
.homeflex2 {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
}
.homeflex2item {
  flex:0 0 130px;
  margin:0 10px 1.5em;
}
.fleximg {
  max-width:130px;
  margin:auto;
}
.use {
  background-color:white;
  font-size:125%;
  font-weight:normal;
  padding:0 5px;
  text-align:center;
}
.hometable {
  border-spacing:0.75em;
  width:auto;
  margin:0 auto;
}
.nobreak {
  white-space:nowrap;
}

/* two column layout */
.column {
  float:left;
  margin:0% 0% 0% 10%;
}
.li1 {
  padding:5px;
  list-style-position:inside;
}
.li2 {
  padding:2px;
  font-size:100%;
}

/* Div Tables */
.comparison .dtr:nth-of-type(even) {
  background:#dfdfff;
}
.doctypes .dtr:nth-of-type(odd) {
  background:#dfdfff;
}
.dtbody .honey {
  display:block;
  position:absolute;
  left:-9999px;
}
.dtr .tick {
  text-align:center;
  color:#c70000;
}
.dtr .cross {
  text-align:center;
  color:#555555;
}
.levels {
  margin: auto;
  width: 70%;
}

/* General */
div.list {
  background-color:#dfdfff;
  border:2px groove buttonface;
}
div.list ul, div.list ol {
  margin:0;
}
.narrow {
  margin:auto;
  width:70%;
}
span.current {
  color:#c70000;
}
span.hidden {
  display:none;
}
img {
  border:1px solid;
  max-width:100%;
  height:auto;
}
img.noborder {
  border:none;
}
img.download {
  vertical-align:middle;
}
.centered {
  text-align:center;
}
.padcentered {
  text-align:center;
  padding:5px !important;
}
div.background {
  background-color:#dfdfff;
  margin:6px;
}
#faqaccordion {
  margin-top:6px;
}
code, kbd, samp {
  font-weight:bold;
  font-size:110%;
}
code.ht,kbd.ht {
  color:#bc3000;
}
code.tv,kbd.tv {
  color:darkgreen;
}
code.os,kbd.os {
  color:maroon;
}
.address {
  margin-left:10%;
  width:90%;
}
.extensions {
  background-color:#dfdfff;
  padding:10px 0;
}
span.endnav {
  display:inline-block;
  padding:0 5px;
  font-size:90%;
}

/* Forms */
.form {
  padding:0.9em;
  border:2px groove buttonface;
}
input, select, option, button {
  font-family:Arial, Helvetica, sans-serif;
}
input, option, button {
  font-size:90%;
}
select {
  font-size:100%;
}
input.frm {
  width:100%;
  max-width:400px;
}
input.short {
  width:100%;
  max-width:170px;
}
input[type="radio"] {
}
label.radio {
  display:block;
  margin:4px 0 10px 0;
}
label.radio2 {
  display:block;
}
textarea.frm {
  width:100%;
  max-width:400px;
  resize:vertical;
}
fieldset {
  border-color:buttonface;
}
fieldset.radio {
  border:0;
  padding:0;
}
.fieldset {
  margin:0 2px;
  padding-bottom:0.9em;
  border-width:2px;
  border-style:groove;
  border-color:buttonface;
}
.legend {
  padding:2px;
  position:relative;
  left:11px;
  top:-14px;
  background:#fff;
}
div.vat {
  display:none;
}

/* Download/Buy/Submit buttons */
.download {
  border-style:solid;
  border-width:2px;
  border-color:#666699;
  border-radius:5px;
  padding:8px;
  color:white;
  font-weight:bold;
  background-color:#666699;
}
.download:link { text-decoration:none; color:white }
.download:visited { text-decoration:none; color:white }
.download:hover, .download:focus { background-color:#8888BB; }

ul.dl li {
  list-style-type:none;
  padding:15px;
}
img.icons {
  padding-right:8px;
}
.payment {
  display:inline-block;
  vertical-align:middle;
  padding:0 1em;
}
.button {
  border-style:solid;
  border-width:1px;
  border-radius:5px;
  border-color:#666699;
  padding:0.5ex;
  margin-top:5px;
}
.submit {
  border-style:solid;
  border-width:2px;
  border-radius:5px;
  padding:5px 12px;
  color:white;
  font-weight:bold;
  background-color:#666699;
  font-size:90%;
}
.submit:hover, .submit:focus {
  background-color:#8888BB;
}
.submit:disabled {
  color:gray;
  background-color:#dfdfff;
}

/* Ajax please wait */
#pleasewait {
  display:none;
  position:fixed;
  z-index:1000;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:rgba(223, 223, 255, .8 )
             url('https://www.totalvalidator.com/images/pleasewait.gif')
             50% 50%
             no-repeat;
}
/* When body has pleasewait class added, then display the gif */
body.pleasewait #pleasewait {
  display:block;
}

/* Price increase tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  color: red;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* Show the tooltip text when you hover over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Media */
br.wrap, .d2, .d2w, .dh2, #toggleOpen, #toggleClose, .searchpad, .featuretext2 {
  display:none;
}
span.strap {
  padding-left:40px;
}
@media only screen and (max-width:1000px) {
  .main {
    border:0;
  }
}
@media only screen and (max-width:850px) {
  .form {
    padding-left:0; padding-right:0;
    border-left:0; border-right:0;
  }
}
@media only screen and (max-width:790px) {
  span.strap {
    display:none;
  }
  .flex50a {
    flex:65%;
  }
  .flex50b {
    flex:35%;
    padding:15px;
  }
}
@media only screen and (max-width:550px) {
  body {
    font-size:100%;
  }
  span.wrap {
    display:none;
    display:none;
  }
  br.wrap {
    display:block;
  }
  body, html {
    padding:0;
  }
  #middle p{
    padding:0 5px;
  }
  .d2 {
    display:inline;
  }
  .search .dt {
    display:none;
  }
  .dh {
    padding:0;
  }
  .dhs {
    display:none;
  }
  .dh2 {
    display:inline;
  }
  #middle {
    margin-left:0;
    width:100%;
  }
  .dtr .pad {
    display:none;
  }
  .column {
    margin-inline-start:0;
    margin-bottom:0;
  }
  div.list {
    border:0;
  }
  #toggleOpen {
    display:block;
  }
  #toggleClose {
    display:block;
    margin:0;
    padding:0;
  }
  .search {
    float:right;
  }
  .searchpad {
    display:inline-block;
  }
  .mainmenu {
    position:absolute;
    color:white;
    background-color:#666699;
    box-shadow:8px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:10;
    border:2px solid #666699;
    overflow:hidden;
    float:left;
    top:0;
    transition:width 300ms;
    text-align:left;
  }
  .sideoff {
    left:-10000px;
    width:0;
  }
  .sideon {
    left:0;
    width:185px;
  }
  .home {
    display:list-item;
  }
  .home a:link {color:white}
  .home a:hover,.home a:focus {text-decoration:underline;}
  .flex50a {
    flex:70%;
  }
  .flex50b {
    flex:30%;
    padding:15px;
  }
  .margin2, .margin3 {
    margin-bottom:0;
  }
  .feature {
    margin:0;
    padding-bottom:7px
  }
  .featuretext {
    display:none;
  }
  .featuretext2 {
    display:block;
    margin-top:0;
    margin-bottom:1.5em
  }
}
