.jumbo_text{
    margin-left: 2%;
    margin-right: 2%;
}

#main_image{
    max-width: 75%;
    margin: 0 auto;
}

.product_feature{
    background-color: #B0C4DE;
    border: 2px solid #87CEEB;
    padding: 1%;
    margin: 1% 0;
    transition: 0.3s;
}

.product_feature:hover{
    background-color: white;
    border: 2px solid #B0C4DE;
}

#scooter_table{
    margin-bottom: 20%;
}