<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Month Week</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" >
      <link href="css/bootstrap.min.css" rel="stylesheet">
   </head>
   <body>
      <h1>Month Week</h1>
      <div id="app">
      <!-- -------------------   select week or month ------------ -->
      <div class="container">
         <div class="row">
            <div class="col-12">
               <input type="radio" v-model="sele" value="week">Day of Week
               <input type="radio" v-model="sele" value="month">Month
               <button v-on:click="sele='week'" >Day of Week</button>
               <button v-on:click="sele='month'" >Month</button>
            </div>
         </div>
      </div>
      <!-- -------------------   show months ------------ -->
      <div v-if="sele == 'month'" class="container">
         <div v-for="month in months" class="row">
            <div class="col-3 border">{{month}}</div>
         </div>
      </div>
      <!-- -------------------   show day of week  ------------ -->
      <div v-else class="container">
         <div v-for="week in weeks" class="row">
            <div class="col-4 border">{{week}}</div>
         </div>
      </div>
      <script src="https://unpkg.com/vue@3"></script>   <!-- link to vue js version 3  -->
      <script>
         Vue.createApp({  //create a new application instance
         	data() {     // data option
         		return {sele:'month',
         		months: ['January', 'Feburary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
         		weeks: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
         		}
         	}
         }).mount('#app')   // mount the app to dom element
      </script>
   </body>
</html>