body {
  min-width:500px;
}

.pagehead, .topnavbar, p.footer {
  line-height:1.3;
  font-size:120%;
}

main {
  width:95%;
}

input[type="radio"] {
  vertical-align: middle;
  margin-top:-0.3em;
}

input[type="checkbox"] {
  vertical-align: bottom;
  margin-top:0.5em;
}

span.addword {
  color:#4646AC; cursor:pointer;
}

span.hoverparent span.hoverblock {
  display:none;
}
span.hoverparent:hover span.hoverblock, span.hoverparent:focus span.hoverblock {
  position:relative;
  display:inline-block;
  border:1px solid;
  max-width:54em;
  padding:5px;
  text-indent:0;
}
span.collBlock {
  display:block;
}

li.issue {
  list-style:none;
}

#initial {
  display:inline;
}

div.topnavbar li {
  display:inline-block;
}

.dtable {
  margin-bottom:0;
}

pre.wrap {
  white-space:pre-wrap;
  overflow-wrap:anywhere;
  border:1px solid #c5c5c5;
  padding:10px;
}

pre.wrapd {
  white-space:pre-wrap;
  overflow-wrap:anywhere;
  border:1px solid #c5c5c5;
  margin:10px;
  padding:10px;
}

span.ib {
  display:inline-block;
}

.space2 {
  padding-left:10px;
}

/* Tabs */
.tabstart {
  margin-left:4px;
}
.ui-widget.ui-widget {
  border:none;
}
.ui-widget-header {
  background:white;
  border:none;
  border-bottom:1px solid #c5c5c5;
}
.ui-widget-content {
  color: black;
}
table {
  text-align:left;
  box-sizing: border-box;
}
td, th {
  padding:4px;
  vertical-align:top;
  text-align:left;
  font-weight: normal;
}
td.nowrap {
  white-space:nowrap;
}
.dtable2 {
  display:table;
  text-align:left;
  border-spacing:2px;
  margin-bottom:1em;
}
.dtd2 {
  display:table-cell;
  border-spacing:2px;
  padding-left:4px;
  vertical-align:top;
  text-align:left;
}
h2, h3 {
  line-height:1.3;
  margin-bottom:10px;
}
h3 {
  margin-top:10px;
}
h3.stats {
  margin-top:0;
}
.addpointer {
 cursor:pointer;
}
ul.results {
  padding:0;
}
li.results {
  list-style-type:none;
  padding-bottom:1em
}
ul.issues {
  padding:0;
  margin:10px 0px 10px 1em;
}
ul.issue {
  padding-left:1em;
}
li.issue {
  list-style-type:none;
  padding:5px;
}
li.issueline {
  list-style-type:none;
  padding:5px;
  background-color:#eee;
  margin-bottom:6px;
}
.nct {
  cursor:pointer;
}
