<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <title>PassTask3.1</title> 
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
        <!-- Bootstrap --> 
        <link href="css/bootstrap.min.css" rel="stylesheet" />  
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries WARNING: Respond.js doesn’t work if you view the page via file:// --> 
        <!--[if lt IE 9]--> 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha512-UDJtJXfzfsiPPgnI5S1000FPLBHMhvzAMX15I+qG2E2OAzC9P1JzUwJOfnypXiOH7MRPaqzhPbBGDNNj7zBfoA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha512-qWVvreMuH9i0DrugcOtifxdtZVBBL0X75r9YweXsdCHtXUidlctw7NXg5KVP3ITPtqZ2S575A0wFkvgS2anqSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!--[endif]--> 
    </head> 

    <body> 
        <h1>String Test</h1>
        <div id="app">
            <p>Please enter your name: <input type ="text" v-model="strName"></p>
            <p v-if="strName.toLowerCase() == 'duc'">Awesome name!</p>
            <p v-else="strName">{{ strName }} is not my name!</p> 
        </div>
        <!-- All Bootstrap  plug-ins  file --> 
            <script src="js/bootstrap.bundle.min.js"></script>

        <!-- Basic VueJS --> 
            <script src="js/vue.js"></script> 
            <script type="text/javascript">
                var strName = '';
		    //creating new Vue instance
		    new Vue({
			    el: '#app', //denotes where vue js app starts
			    data:  {strName}//passing variables into vue app
		    });
            </script>
    </body> 
</html>