<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <title>3.3CreditTask</title> 
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
        <!-- Bootstrap --> 
        <link href="css/bootstrap.min.css" rel="stylesheet" />  
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries WARNING: Respond.js doesn’t work if you view the page via file:// --> 
        <!--[if lt IE 9]--> 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha512-UDJtJXfzfsiPPgnI5S1000FPLBHMhvzAMX15I+qG2E2OAzC9P1JzUwJOfnypXiOH7MRPaqzhPbBGDNNj7zBfoA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha512-qWVvreMuH9i0DrugcOtifxdtZVBBL0X75r9YweXsdCHtXUidlctw7NXg5KVP3ITPtqZ2S575A0wFkvgS2anqSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!--[endif]--> 
    </head> 

    <body> 
        <div id="app" class="container">
            <div class="row">
                <h2>Compute App</h2>
            </div>
            <div class="row">
                <p><label for="numWt">Enter weight in kilograms:</label>
                    <input type="number" id="numWt" v-model="numWt" />
                </p>
                <p><label for="numHt">Enter height in centimetres:</label>
                    <input type="number" id="numHt" v-model="numHt" />
                </p>
            </div>
            <div class="row">
                <p v-if="(numWt /numHt /numHt * 10000).toFixed(2) < 18.5 && numWt>0 && numHt>0">Computed BMI is: {{ (numWt /numHt /numHt * 10000).toFixed(2) }} Underweight</p>
                <p v-else-if="(numWt /numHt /numHt * 10000).toFixed(2) < 25 && numWt>0 && numHt>0">Computed BMI is: {{ (numWt /numHt /numHt * 10000).toFixed(2) }} Normal</p>
                <p v-else-if="(numWt /numHt /numHt * 10000).toFixed(2) < 30 && numWt>0 && numHt>0">Computed BMI is: {{ (numWt /numHt /numHt * 10000).toFixed(2) }} Overweight</p>
                <p v-else-if="(numWt /numHt /numHt * 10000).toFixed(2) >30 && numWt>0 && numHt>0">Computed BMI is: {{ (numWt /numHt /numHt * 10000).toFixed(2) }} Obese</p>
                <p v-else="">Computed BMI is: </p>
            </div>
        </div>
        <!-- All Bootstrap  plug-ins  file --> 
            <script src="js/bootstrap.bundle.min.js"></script> 
        <!-- Basic VueJS --> 
            <script src="js/vue.js"></script> 
            <script type="text/javascript">
                var numWt = 0;
                var numHt = 0;
                new Vue({
                    el: '#app',
                    data: {numWt, numHt}
                }); 
            </script>
    </body> 
</html>