<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <title>3.4CreditTask</title> 
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries WARNING: Respond.js doesn’t work if you view the page via file:// --> 
        <!--[if lt IE 9]--> 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha512-UDJtJXfzfsiPPgnI5S1000FPLBHMhvzAMX15I+qG2E2OAzC9P1JzUwJOfnypXiOH7MRPaqzhPbBGDNNj7zBfoA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha512-qWVvreMuH9i0DrugcOtifxdtZVBBL0X75r9YweXsdCHtXUidlctw7NXg5KVP3ITPtqZ2S575A0wFkvgS2anqSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!--[endif]-->
        <style>
            p.alert{
                color: red;
            }
        </style>

    </head> 

    <body> 
        <div id="app">
            <h1>Registration App: Cloud Service</h1>
            <p><h2>Login Information</h2></p>
            <p>Enter user name: <input type="text" v-model="username"></p>
            <p>Enter password: <input type="password" v-model="password"></p>
            <p>Re-enter password: <input type="password" v-model="repassword"></p>
            <p class="alert" v-show="(password != repassword)">Password does not match</p>

            <h2>Phone Information</h2>
            <p>
                    <h3>Operating System</h3>
                    <input type="radio" id="android" value="Android" v-model="osVar" >
                    <label for = "android">Android</label>
                    <input type="radio" id="ios" value="IOS" v-model="osVar" >
                    <label for = "ios">IOS</label>
                    <input type="radio" id="windows" value="Windows" v-model="osVar" >
                    <label for = "windows">Windows</label>
            </p>
            <p>
                <h3>Model</h3>
                <select id="model" v-model="modelVar">
                    <option v-for="m in filteredModel" v-bind:value="m.model">
                        {{m.model}}
                    </option>
                </select>
            </p><br />
            <br />
            <h2>Summary</h2>
            <ul>
                <li>Username: {{username}}</li>
                <li>OS: {{osVar}}</li>
                <li>Phone: {{modelVar}}</li> 
            </ul> 
        </div> 
        <!-- Basic VueJS --> 
        <script src="js/vue.js"></script>
        <script src="js/register1.js"></script>
    </body> 
</html>